# Docker stack systemd unit template
[Unit]
After=docker.service
PartOf=docker.service

[Service]
Type=oneshot
User=root
Group=docker
RemainAfterExit=true
# the actual working directory is obtained using the instance name,
# e.g. unit named "example" will use "/etc/docker/docker-stack/example" as its
# working directory
WorkingDirectory=/etc/docker/docker-stack/%i
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
