# PowerDNS Admin site configuration
server {
	listen			*:80;
	server_name		powerdns-admin.lan powerdns-admin.local;
	access_log		/var/log/nginx/powerdns-admin_access.log combined;
	error_log		/var/log/nginx/powerdns-admin_error.log;

	location / {
		proxy_pass 	http://${POWERDNS_ADMIN_HOST}:${POWERDNS_ADMIN_PORT};
	}
}
